<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>create new posts</title>
    <link rel="stylesheet" href="/style1.css">
</head>
<body>
    <form method="post" action="/posts">
        <div class="inputbox">
            <input placeholder="enter the username"name="username" > 
            <span>Username</span>
        </div>

        <div class="inputbox">
            <textarea placeholder="write your post" name="content"></textarea> 
            <span>Quote</span>
        </div>
       
        <br>
       <button class="btn">submit</button>
    </form>

</body>
</html>